.lp-sec {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.num {
  font-size: 150px;
  font-family: monospace;
}

.name {
  font-size: 100px;
  /* color: white; */
}

.lp-image {
  width: 100%;
  border: 1px solid red;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp-content {
  width: 100%;
  border: 1px solid lime;
  min-height: 200px;
}

@media screen and (min-width: 800px) {
  .lp-sec {
    flex-direction: row-reverse;
  }

  .lp-image,
  .lp-content {
    width: 50%;
    height: 100%;
  }
}
