.insights {
  min-height: 30vh;
  /* border: 5px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.insights-section {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

@media screen and (min-width: 400px) {
  .insights-section {
    font-size: 25px;
  }
}

@media screen and (min-width: 800px) {
  .insights {
    flex-direction: row;
    justify-content: space-around;
  }

  .insights-section {
    min-height: 40vh;
    font-size: 50px;
    font-weight: 300;
  }
}
