.dashboard-container {
  min-height: 100vh;
  /* background-image: linear-gradient(-180deg, #14233c 43%, #0d1b32); */
  color: white;
  background-color: #131424;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.dashboard-placeholder {
  display: none;
  min-height: 100vh;
  background-color: #131424;
  font-size: 20px;
  word-break: break-word;
  justify-content: center;
  align-items: center;
  color: white;
}

.sidebar-add {
  height: 100vh;
  width: 70px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.back-arrow {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: -3px;
}

.teams-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.team-headline {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 55px;
  color: white;
  font-size: 27px;
}

.team-cards-container {
  height: 85vh;
  max-height: 85vh;
  overflow-y: scroll;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.team-cards-container::-webkit-scrollbar {
  width: 5px;
}

.team-cards-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.team-cards-container::-webkit-scrollbar-thumb {
  background-color: #1b2136;
  outline: 1px solid slategrey;
}

.team-card {
  min-height: 70px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1b2136;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  transition: all 300ms ease-in-out;
  transform: translateY(150px);
}

.team-card:hover {
  min-height: 110px;
  cursor: pointer;
}

.team-name {
  transition: all 300ms ease-in-out;
}

.team-matches {
  color: white;
  font-size: 15px;
  margin-right: 15px;
}

.team-card:hover .team-name {
  font-size: 20px;
}

.team-card-appear {
  animation: appear-bottom 750ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 1
    forwards;
}

@keyframes appear-bottom {
  0% {
    transform: translateY(150px);
  }

  100% {
    transform: translateY(0px);
  }
}

.playground {
  width: 75%;
  padding-left: 60px;
  padding-right: 10px;
}

.playground-headline {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 27px;
}

.single-insight-cards {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.small-card {
  height: 90px;
  width: 250px;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15px;
  font-size: 25px;
  color: #131424;
  animation: appear 900ms ease-in 1 forwards;
  opacity: 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.card-1 {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-2 {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation-delay: 100ms;
}

.card-3 {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  animation-delay: 200ms;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.line-chart-container {
  width: 95%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #1b2136;
  border-radius: 4px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.dual-row {
  width: 95%;
  height: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.dual-boxes {
  height: 100%;
  width: 49%;
  background-color: #1b2136;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pie-info {
  height: 60px;
  width: 80px;
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pie-color {
  height: 15px;
  width: 15px;
}

.radar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .dashboard-placeholder {
    display: flex;
  }

  .dashboard-container {
    display: none;
  }
}

@media screen and (max-height: 770px) {
  .single-insight-cards {
    height: 85px;
  }

  .playground-headline,
  .team-headline {
    height: 66px;
  }

  .dual-row {
    height: 240px;
    margin-top: 15px;
  }

  .back-arrow {
    height: 50px;
  }

  .small-card {
    height: 80px;
    width: 235px;
  }
}
